:root {
    --primary-color: black;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: white;
    font-family: Montserrat, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px; 

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 75px;
    height: 75px;
}

.logo h1{
    margin: 0;
  padding: 0;
  line-height: 1;
  font-family: Anton, sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
}

.textos {
    display: flex;
    align-content: center;
    gap: 50px;
}

.textos span {
    font-family: Montserrat, sans-serif;
    display: flex;
    gap: 40px;
    font-size: 25px;
}

main {
  display: flex;
  align-items: center;
  height: 73vh;
  
  color: white;
}
.container60 {
  display: flex;
  height: 100%;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  padding-left: 165px;
  gap: 7%;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 25px;
}
.container h1 {
  font-family: Anton, sans-serif;
  font-size: 135px;
  font-weight: 700px;
  line-height: 1;
  white-space: nowrap;
}

.container p{
  font-size: 18px;
  overflow: auto;
}

.botao{
  width: 230px;
  height: 100px;
  background-color: var(--primary-color);
  box-shadow: 0 0 8px 8px #30544A ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 35px;

}

.imagem {
  flex: 1;
  display: flex;
  height: 100%;
  width: 40%;
  justify-content: center;
  align-items: center;  
}
.img-persona{
  height: 90%;
  width: 90%;
}

@media (max-width: 1024px) {
  header{
    padding: 50px 50px;
  }
  .logo img{
    width: 50px;
    height: 50px;
  }
  .logo h1{
    font-size: 20px;
  }
  .textos{
    gap:20px;
  }
  .textos span{
    font-size: 20px;
    gap: 10px;
  }
  .container{
    gap: 12px;
  }
  .container h1{
    font-size: 80px;
  }
  .container p{
    font-size: 23px;
     
  }
 .imagem{
  position: relative;
 }
  .container60 {
    padding-left: 75px;
    position: relative;
  }
  button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 148px;
  }
  
  
}
@media (max-width: 480px){
  header{
    padding: 20px 30px;
  }
  .logo img{
    width: 35px;
    height: 35px;
  }
  main{
    padding-left: 35px;
  }
  .textos span{
    display: none;
  }
  .container{
    gap: 10px;
  }
  .container h1, .container h2{
    font-size: 35px;
  }
  .container p{
    font-size: 13px;
  }
  .imagem img{
    width: 200px;
    height: 250px;
    gap: 50px;
  }
}  