:root {
    --primary-color: black;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    color: white;
    font-family: Montserrat, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 75px;
    height: 75px;
}

.logo h1{
    margin: 0;
  padding: 0;
  line-height: 1;
  font-family: Anton, sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
}

.textos {
    display: flex;
    align-content: center;
    gap: 50px;
}

.textos span {
    font-family: Montserrat, sans-serif;
    display: flex;
    gap: 40px;
    font-size: 25px;
}

main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 73vh;
  padding-left: 165px;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 20px;
}
.container h1 {
  font-family: Anton, sans-serif;
  font-size: 100px;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}
.container h2{
  font-family: Anton, sans-serif;
  font-size: 100px;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}

.container p{
  display: flex;
  padding: 15px 0px 0px 0px;
  font-size: 20px;
  line-height: 1.6;

}
.container botao{
    display: flex;
  flex-direction: column;
}

.botao{
  width: 130px;
  height: 50px;
  background-color: var(--primary-color);
  box-shadow: 0 0 8px 8px #30544A ;
  display: flex;
  justify-content: center;
  align-items: center;

}
.botao botton{
  font-family: Montserrat, sans-serif;
  font-size: 20px;

}
.imagem {
  flex: 1;
  display: flex;
  padding-right: 250px;
  justify-content: flex-end;
  align-items: center;  
}
.imagem img {
  width: 1040x;
  height: 900px;
  filter: brightness(0.7)contrast(1.0);
  opacity: 0.6;
  object-fit: cover;
  gap: 100px;

}
@media (max-width: 1024px) {
  header{
    padding: 50px 50px;
  }
  main{
    padding-left: 100px;
  }
  .logo img{
    width: 50px;
    height: 50px;
  }
  .logo h1{
    font-size: 20px;
  }
  .textos{
    gap:20px;
  }
  .textos span{
    font-size: 20px;
    gap: 10px;
  }
  .container{
    gap: 0px;
  }
  .container h1{
    font-size: 65px;
  }
  .container h2{
    font-size: 65px;
  }
  .container p{
    font-size: 15px;
    padding: 0px 0px 0px 0px;
  }
  .imagem{
    display: flex;
    padding-left: 100px;
  }
  .imagem img{
    width: 360px;
    height: 400px;
  }
}
@media (max-width: 480px){
  header{
    padding: 20px 30px;
  }
  .logo img{
    width: 35px;
    height: 35px;
  }
  main{
    padding-left: 35px;
  }
  .textos span{
    display: none;
  }
  .container{
    gap: 10px;
  }
  .container h1, .container h2{
    font-size: 35px;
  }
  .container p{
    font-size: 13px;
  }
  .imagem img{
    width: 200px;
    height: 250px;
    gap: 50px;
  }
}  