:root {
    --primary-color: black;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    color: white;
    font-family: Montserrat, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 75px;
    height: 75px;
}

.logo h1{
    margin: 0;
  padding: 0;
  line-height: 1;
  font-family: Anton, sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
}

.textos {
    display: flex;
    align-content: center;
    gap: 50px;
}

.textos span {
    font-family: Montserrat, sans-serif;
    display: flex;
    gap: 40px;
    font-size: 25px;
}

main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 73vh;
  padding-left: 165px; 
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 20px;
}
.container h1 {
  font-family: Anton, sans-serif;
  font-size: 100px;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}
.container h2{
  font-family: Anton, sans-serif;
  font-size: 100px;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}

.container p{
  display: flex;
  padding: 15px 0px 0px 0px;
  font-size: 20px;
  line-height: 1.6;

}

.botao{
  width: 130px;
  height: 50px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px 8px #30544A ;

}
.botao botton{
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}
.imagem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.imagem img {
  width: 533x;
  height: 614px;
  filter: brightness(0.7)contrast(1.0);
  opacity: 0.8;
  object-fit: cover;
}